.header {
    color: #FFF;
    display: flex;
    align-items: center;
}

.header a {
    color: #FFF;
    align-items: center;
    text-decoration: none;
    margin-left: 40px;
}

.header a:hover{
    color: gray;
}